@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}
@font-face {
  font-family: "PixeloidMono-d94EV";
  src: url("/Font/PixeloidMono-d94EV.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html, body {
    @apply font-omiofont1;
  }
}
@keyframes matrix-fade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}